streamlit
langchain==0.1.17               # <--- CHANGED THIS TO 0.1.17
langchain-community==0.0.30     # <--- Changed back to 0.0.30, as it was directly compatible with 0.1.0 and 0.1.17 should work with it.
langchain-google-genai==0.0.9
faiss-cpu
openai
tiktoken
beautifulsoup4
grpcio==1.62.0
google-api-core==2.11.0
# Any other libraries your app specifically uses
